<p id="notice"><%= notice %></p>

<p>
  <strong>products:</strong>
  <%= @register.products %>
</p>

<p>
  <strong>categories:</strong>
  <%= @register.categories %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @register.quantity %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
